package {{package}};

import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.Builder;

@Data
@NoArgsConstructor
@Builder
public class {{classname}} {
    {{#vars}}
    private {{datatype}} {{name}};
    {{/vars}}
}
